$primary-color: #4a90e2;

body {
  font-family: sans-serif;
  background-color: #f7f7f7;

  h1 {
    color: $primary-color;
    text-align: center;
  }

  canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
    max-height: 80vh;
  }

  .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
